9_datasets/
.venv/

.Rproj.user
.Rhistory
.RData
.Ruserdata

3_datasets/
# Archivos compilados de Python
*.pyc
__pycache__/

# Archivos binarios
*.pyd

# Datos grandes
*.csv
*.shp
*.pkl
*.h5
referentes_bibliograficos/
referentes_bibliograficos/MetodologiaInvestigacionNaupas.pdf/
*.pdf/
*.docx/
*.doc/
